<div class="well">
    <div class="chatFrame clearfix"
         ng-class="{bot: !message.from_client, user: message.from_client, negative: message.feedback == -1, positive: message.feedback == 1 }"
         ng-repeat="message in conversation.log"
         ng-click=" (!message.from_client && message.feedback == -1) ? addToClassifier(message) : null">
        <span class="avatar">
            <i class="fa" ng-class="{ 'fa-weixin': !message.from_client, 'fa-user': message.from_client }"></i>
        </span>
        <span class="message">
            <span class="indicator" ng-hide="message.feedback == 0">
                <i class="fa" ng-class="{ 'fa-thumbs-o-down': message.feedback == -1, 'fa-thumbs-o-up':  message.feedback == 1 }"></i>
            </span>
            <span class="text" ng-bind-html="message.text"></span>
            <span class="date" ng-bind="message.date_time"></span>
        </span>
    </div>
</div>