<div class="panel panel-default">
    <div class="panel-body form-inline">
        Displaying Conversations from &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-click="datepicker1 = !datepicker1" ng-model="dateFrom" show-weeks="false" is-open="datepicker1" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-link" ng-click="datepicker1 = !datepicker1" ><i class="fa fa-calendar"></i></button>
            </span>
        </span>

        to &nbsp;&nbsp;&nbsp;&nbsp;

        <span class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-click="datepicker2 = !datepicker2" ng-model="dateTo" show-weeks="false" is-open="datepicker2" datepicker-options="dateOptions" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-link" ng-click="datepicker2 = !datepicker2" ><i class="fa fa-calendar"></i></button>
            </span>
        </span>

        <button class="btn btn-default btn-sm">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            <a ui-sref="admin.conversations.item({conversation: item.id})" class="list-group-item" ng-repeat="item in conversations">
                <h5 class="list-group-item-heading">
                    <small class="pull-right small">{{item.created}}</small>
                    Id: #{{item.id}}
                </h5>
                <span class="label label-success" ng-show="item.positive_feedback > 0"><i class="fa fa-thumbs-o-up"></i> {{item.positive_feedback}}</span>
                <span class="label label-danger" ng-show="item.negative_feedback > 0"><i class="fa fa-thumbs-o-down"></i> {{item.negative_feedback}}</span> &nbsp;&nbsp;
                <span class="pull-right">
                    Number of interactions: <span class="badge">{{item.interactions}}</span>
                </span>
            </a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="btn-group dropup" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                        {{pagination.items_per_page}} Items <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="dropup">
                        <li role="menuitem"><a ng-click="changeNumberOfItems(20)">20</a></li>
                        <li role="menuitem"><a ng-click="changeNumberOfItems(50)">50</a></li>
                        <li role="menuitem"><a ng-click="changeNumberOfItems(100)">100</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <uib-pagination total-items="pagination.total_items" items-per-page="pagination.items_per_page" ng-model="pagination.page" max-size="3" class="pagination-sm no-margin pull-right" boundary-links="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <div ui-view>
            <div class="well text-center">
                Select a conversation to review
            </div>
        </div>
    </div>
</div>