<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br/><br/><br/><br/>
            <form name="loginForm" ng-model="loginForm" ng-submit="submit(loginForm.$valid)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Play Travel Admin</h3>
                    </div>
                    <div class="panel-body">
                        <uib-alert  ng-repeat="alert in formErrors" type="danger" close="formErrors.splice($index, 1)">{{alert.message}}</uib-alert>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" ng-model="user.username" required="required" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" ng-model="user.password" required="required" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block"><i class="fa fa-lock"></i> Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>