html,body {
    height: 100%;
}

.pagination.no-margin {
    margin: 0;
}

.chatFrame {
    display: block;
    padding-bottom: 15px;

    &.bot {
        &.negative, &.positive {
            .message {
                padding-left: 30px;

                span.indicator {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 30px 30px 0 0;
                    -webkit-transform:rotate(360deg);
                    color: #fff;
                    font-size: 1em;

                    i {
                        position: absolute;
                        top: -27px;
                        left: 4px;
                    }
                }
            }
        }

        &.negative {
            cursor: pointer;

            .message {
                span.indicator {
                    border-color: $brand-danger transparent transparent transparent;
                }
            }
        }

        &.positive {
            .message {
                span.indicator {
                    border-color: $brand-success transparent transparent transparent;
                }
            }
        }

        .avatar {
            float: right;
        }

        .message {
            float: left;

            .date {
                text-align: right;
            }
        }
    }

    &.user {
        .avatar {
            float: left;
        }

        .message {
            float: right;

            .date {
                text-align: left;
            }
        }
    }

    .avatar {
        display: block;
        width:50px;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 2.5em;
        background: #ccc;
    }

    .message {
        display: block;
        width: calc(100% - 50px);
        background: #fff;
        padding: 5px;
        min-height: 50px;
        position: relative;

        .text {

        }

        .date {
            color: #ccc;
            font-size: 0.8em;
            display: block;
        }
    }
}

.navAttention {
    i {
        font-size: 3em;
        line-height: 0em;
        position: relative;
        top: 10px;
    }
}

.statusIndicator {
    font-size: 5em;
    line-height: 0;
    margin: 5px 0 10px 0;
}

.tableLabel {
    background: #eee;
}

td {
    md-switch, md-checkbox{
        margin: 0;
        height: 23px;
    }

    md-checkbox{
        width: 20px;
    }
}

.ageIndicator {
    display: inline-block;
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
}

.table>tbody+tbody {
    border-top: 1px solid ;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-bottom-padding {
    padding-bottom: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.no-right-margin {
    margin-right: 0 !important;
}

.text-lg {
    font-size: 2em;
}

.table {
    .text-lg.fa {
        line-height: 0.7em;
        position: relative;
        top: 3px;
    }
}