
<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
    <div class="md-toolbar-tools">
        <h2 class="md-title">Search for flights</h2>
        <div flex></div>
    </div>
</md-toolbar>

<br/>

<div class="panel panel-default">
    <div class="panel-body form-inline">
        <!--<form name="searchForm" ng-model="searchForm" ng-submit="submit()">-->
        <form flex name="filter.form">

            <div class="form-group checkbox">
                <input type="checkbox" id="return" checked="checked" />
                <label for="return">Return</label>
            </div>

            <div class="form-row">
                <span class="input-group">
                    <input
                            type="text"
                            class="form-control"
                            uib-datepicker-popup="dd-MM-yyyy"
                            ng-model="datepickers.departureDate"
                            ng-model-options="filter.options"
                            show-weeks="false"
                            is-open="datepicker1"
                            datepicker-options="dateOptions"
                            close-text="Close"
                            placeholder="Departure date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link" ng-click="datepicker1 = !datepicker1"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>

                <span class="input-group">
                    <mdp-time-picker mdp-auto-switch="true" ng-model="currentTime"></mdp-time-picker>
                </span>
            </div>

            <div class="form-row">
                <span class="input-group">
                    <input
                            type="text"
                            class="form-control"
                            uib-datepicker-popup="dd-MM-yyyy"
                            ng-model="datepickers.returnDate"
                            ng-model-options="filter.options"
                            show-weeks="false"
                            is-open="datepicker2"
                            datepicker-options="dateOptions"
                            close-text="Close"
                            placeholder="Return date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
            </div>

            <div class="form-row">
                <span class="input-group">
                    <input type="text" class="form-control" ng-click="" ng-model="query.departureCity" placeholder="Departure location"/>
                </span>
                &nbsp;
                <span class="input-group">
                    <input type="text" class="form-control" ng-click="" ng-model="query.arrivalCity" placeholder="Destination location"/>
                </span>
            </div>

            <button type="submit" ng-click="submit()" class="btn btn-raised btn-default">Submit</button>
        </form>
    </div>
</div>



<md-table-container>
    <h3>Outbound</h3>
    <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column><span>Flight no.</span></th>
            <th md-column><span>Airline</span></th>
            <th md-column><span>Departure city</span></th>
            <th md-column md-order-by="departureLocation"><span>Departure airport</span></th>
            <th md-column md-order-by="departureTime"><span>Departure date</span></th>
            <th md-column md-order-by="departureTime"><span>Departure time</span></th>
            <th md-column><span>Destination city</span></th>
            <th md-column md-order-by="arrivalLocation"><span>Destination airport</span></th>
            <th md-column md-order-by="arrivalTime"><span>Arrival date</span></th>
            <th md-column md-order-by="arrivalTime"><span>Arrival time</span></th>
            <th md-column md-order-by="economyCost">
                <span>Economy</span>
                <!-- @TODO add button to select economy seat for reservation (if there are available seats!) -->
            </th>
            <th md-column md-order-by="businessCost">
                <span>Business</span>
                <!-- @TODO add button to select economy seat for reservation (if there are available seats!) -->
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="flight" md-select-id="{{flight.id}}" md-auto-select ng-repeat="flight in flights">
            <td md-cell>{{flight.airline.iata + (flight.flight.flightNumber | numberFixedLen:3)}}</td>
            <td md-cell>{{flight.airline.airlineName}}</td>
            <td md-cell>{{flight.departureAirport.cityName}} ({{flight.departureAirport.cityCode}})</td>
            <td md-cell>{{flight.departureAirport.name}} ({{flight.departureAirport.code}})</td>
            <td md-cell>{{flight.scheduledFlight.departureDate}}</td>
            <td md-cell>{{flight.flight.departureTime | fourDigitTime}}</td>
            <td md-cell>{{flight.destinationAirport.cityName}} ({{flight.destinationAirport.cityCode}})</td>
            <td md-cell>{{flight.destinationAirport.name}} ({{flight.destinationAirport.code}})</td>
            <td md-cell>{{flight.scheduledFlight.arrivalDate}}</td>
            <td md-cell>{{flight.flight.arrivalTime | fourDigitTime}}</td>
            <td md-cell>&pound;{{flight.flight.economyCost | price}}</td>
            <td md-cell>&pound;{{flight.flight.businessCost | price}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<!-- @TODO sort out pagination...
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{flights.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
-->


<md-table-container>
    <h3>Inbound</h3>
    <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column><span>Flight no.</span></th>
            <th md-column><span>Airline</span></th>
            <th md-column md-order-by="departureLocation"><span>Departure location</span></th>
            <th md-column md-order-by="departureTime"><span>Departure time</span></th>
            <th md-column md-order-by="arrivalLocation"><span>Destination location</span></th>
            <th md-column md-order-by="arrivalTime"><span>Destination time</span></th>
            <th md-column md-order-by="economyCost"><span>Economy</span></th>
            <th md-column md-order-by="businessCost"><span>Business</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="flight" md-select-id="{{flight.id}}" md-auto-select ng-repeat="flight in returnFlights">
            <td md-cell>{{flight.airline.iata + (flight.flight.flightNumber | numberFixedLen:3)}}</td>
            <td md-cell>{{flight.airline.airlineName}}</td>
            <td md-cell>{{flight.departureAirport.code}}</td>
            <td md-cell>{{flight.flight.departureTime | fourDigitTime}}</td>
            <td md-cell>{{flight.destinationAirport.code}}</td>
            <td md-cell>{{flight.flight.arrivalTime | fourDigitTime}}</td>
            <td md-cell>&pound;{{flight.flight.economyCost | price}}</td>
            <td md-cell>&pound;{{flight.flight.businessCost | price}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>


<md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
    <div class="md-toolbar-tools" layout-align="space-between">
        <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
        <md-button class="md-icon-button" ng-click="delete($event)">
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</md-toolbar>